<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>ic_auto_scroll_selected</string>
		<key>title</key>
		<string>Rolagem</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_mude_selected</string>
		<key>title</key>
		<string>Mudar Tom</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_tuner_selected</string>
		<key>title</key>
		<string>Afinator</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_metronome_selected</string>
		<key>title</key>
		<string>Metronomo</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_favoritos</string>
		<key>title</key>
		<string>Marcar Favorito</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_setting</string>
		<key>title</key>
		<string>Ajustes</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_hinos</string>
		<key>title</key>
		<string>Hinos</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_favoritos</string>
		<key>title</key>
		<string>Favoritos</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_hinos</string>
		<key>title</key>
		<string>Ajuda</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>ic_return</string>
		<key>title</key>
		<string>Compatilhar</string>
	</dict>
</array>
</plist>
