<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>icn_hinos</string>
		<key>title</key>
		<string>Hinos</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_favorites</string>
		<key>title</key>
		<string>Favoritos</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_tuner</string>
		<key>title</key>
		<string>Afinador</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_metronomo</string>
		<key>title</key>
		<string>Metronomo</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_settings</string>
		<key>title</key>
		<string>Ajustes</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_ajuda</string>
		<key>title</key>
		<string>Ajuda</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_contact</string>
		<key>title</key>
		<string>Contactar</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_like</string>
		<key>title</key>
		<string>Avaliação</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_share</string>
		<key>title</key>
		<string>Compatihar</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>icn_recursor</string>
		<key>title</key>
		<string>Recursos</string>
	</dict>
</array>
</plist>
